.primary-high-3 { background-color: #C75D88; color: #f0f8ff; }
.primary-high-2 { background-color: #D58EAB; }
.primary-high-1 { background-color: #E3C0CE; }
.very-close { background-color: #F1F1F1; }
.secondary-high-1 { background-color: #79C2C2; }
.secondary-high-2 { background-color: #009392; color: #f0f8ff; }
